<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: nav"></nav>

<div class="grid-container">

    <div th:replace="layout :: logo"></div>

    <div class="grid-100">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-90">
                    <h2 th:text="${recipe.name}"> Brioche French Toast with Nutella </h2>
                </div>
                <div class="grid-10">
                    <h2 class="flush-right">
                        <form th:action="@{|/recipes/${recipe.id}/detail/add-to-favorites|}" id="favoriteForm" method="post">

                        </form>
                        <a href="javascript:;" onclick="document.getElementById('favoriteForm').submit();">
                            <img th:src="@{/images/favorite.svg}" height="16px" th:if="${favoredByUser == false}"/>
                            <img th:src="@{/images/favorited.svg}" height="16px" th:if="${favoredByUser}"/>
                        </a>
                    </h2>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row" id="recipe-image-div">
                <img th:src="${recipe.photoUrl}" id="recipe-image" alt="Image not found"/>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Name </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p th:text="${recipe.name}">
                        Brioche French Toast with Nutella
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row"
                 th:if="${#strings.isEmpty(recipe.description) == false}">
                <div class="grid-20">
                    <p>
                        <label> Description </label>
                    </p>
                </div>
                <div class="grid-80 row-wrap">
                    <p th:text="${recipe.description}">
                        Yummmy dessert toast covered in egg wash and topped with nutella and seasonal fruit.
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Category </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p th:text="${recipe.category.name}">
                        Dessert
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Prep Time </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p th:if="${recipe.prepTimeHour != null AND recipe.prepTimeMinute != null}" th:text="${recipe.prepTimeHour + ' hour(s) and ' + recipe.prepTimeMinute + ' minutes'}">
                        5 hours
                    </p>
                    <p th:if="${recipe.prepTimeHour != null AND recipe.prepTimeMinute == null}" th:text="${recipe.prepTimeHour + ' hour(s)'}">
                        5 hours
                    </p>
                    <p th:if="${recipe.prepTimeHour == null AND recipe.prepTimeMinute != null}" th:text="${recipe.prepTimeMinute + ' minutes'}">
                        5 minutes
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Cook Time </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p th:if="${recipe.cookTimeHour != null AND recipe.cookTimeMinute != null}" th:text="${recipe.cookTimeHour + ' hour(s) and ' + recipe.cookTimeMinute + ' minutes'}">
                        5 hours
                    </p>
                    <p th:if="${recipe.cookTimeHour != null AND recipe.cookTimeMinute == null}" th:text="${recipe.cookTimeHour + ' hour(s)'}">
                        5 hours
                    </p>
                    <p th:if="${recipe.cookTimeHour == null AND recipe.cookTimeMinute != null}" th:text="${recipe.cookTimeMinute + ' minutes'}">
                        5 minutes
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Ingredients </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <label> Description </label>
                    </p>
                </div>

                <div class="ingredient-row row-wrap" th:each="ingredient : ${ingredients}">
                    <div class="prefix-20 grid-80">
                        <p th:text="${ingredient.description}">
                            Eggs
                        </p>
                    </div>
                </div>

            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Steps </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p>
                        <label> Description </label>
                    </p>
                </div>

                <div class="step-row row-wrap" th:each="step, iterStat : ${steps}">
                    <div class="prefix-20 grid-80">
                        <p th:text="${iterStat.count + ') ' + step.description}">
                            1. Crack your eggs and beat them.
                        </p>
                    </div>
                </div>

            </div> <div class="clear"></div>

            <div th:replace="layout :: footer-nav"></div>

        </div> <!-- recipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->
<div th:replace="layout :: flash"></div>
</body>
</html>
