<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: nav"></nav>

<div class="grid-container">

    <div th:replace="layout :: logo"></div>

    <div class="grid-100">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-50">
                    <h2 th:text="${recipe.name}"> Brioche French Toast with Nutella </h2>
                </div>
                <div class="grid-50">
                    <h2 class="flush-right">
                        <a href="#">
                            <img th:src="@{/images/favorite.svg}" height="16px"/>
                        </a>
                    </h2>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Photo </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p th:text="${recipe.photoUrl}">
                        [photoUrl]
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Name </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p th:text="${recipe.name}">
                        Brioche French Toast with Nutella
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Description </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p th:text="${recipe.description}">
                        Yummmy dessert toast covered in egg wash and topped with nutella and seasonal fruit.
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Category </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p th:text="${recipe.category.name}">
                        Dessert
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Prep Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p th:text="${recipe.prepTime}">
                        5 minutes
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Cook Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p th:text="${recipe.cookTime}">
                        15 minutes
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Ingredients </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <label> Item </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <label> Condition </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <label> Quantity </label>
                    </p>
                </div>

                <div class="ingredient-row" th:each="ingredient : ${ingredients}">
                    <div class="prefix-20 grid-30">
                        <p th:text="${ingredient.item}">
                            Eggs
                        </p>
                    </div>
                    <div class="grid-30">
                        <p th:text="${ingredient.condition}">
                            Fresh
                        </p>
                    </div>
                    <div class="grid-10 suffix-10">
                        <p th:text="${ingredient.quantity}">
                            2
                        </p>
                    </div>
                </div>

            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Steps </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p>
                        <label> Description </label>
                    </p>
                </div>

                <div class="step-row" th:each="step : ${steps}">
                    <div class="prefix-20 grid-80">
                        <p th:text="${step.description}">
                            1. Crack your eggs and beat them.
                        </p>
                    </div>
                </div>

            </div> <div class="clear"></div>

            <div class="row">&nbsp;</div>

        </div> <!-- recipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->
<div th:replace="layout :: flash"></div>
</body>
</html>
