<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: nav"></nav>

<div class="grid-container">

    <div th:replace="layout :: logo"></div>

    <div class="grid-100">

        <div class="recipes">
            <form th:action="@{|/${action}|}" method="post" id="saveRecipeForm" th:object="${recipe}">
                <input type="hidden" th:field="*{id}"/>
            <div class="grid-100 row controls">
                <div class="grid-50">
                    <h2> Recipe Editor </h2>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Photo </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <input th:value="${recipe.photoUrl}" th:field="*{photoUrl}" placeholder="url..."/>
                    </p>
                    <p th:if="${urlError != null}" th:text="${urlError}" class="error-text">
                        URL Error.
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Name </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <input th:value="${recipe.name}" th:field="*{name}" placeholder="name..."/>
                    </p>
                    <p th:if="${nameError != null}" class="error-text" th:text="${nameError}">
                        Name Error.
                    </p>
                    <p th:if="${uniqueConstraintError != null}" class="error-text"
                       th:text="${uniqueConstraintError}">
                        Name Error.
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <textarea th:value="${recipe.description}" th:field="*{description}" rows="4" placeholder="description..."> </textarea>
                    </p>
                    <p th:if="${descriptionError}" class="error-text" th:text="${descriptionError}">
                        Description Error.
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Category </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <select th:field="*{category}">
                            <option value="">All Categories</option>
                            <option th:each="category : ${categories}"
                                th:value="${category}"
                                    th:text="${category.name}"></option>
                        </select>
                    </p>
                    <p th:if="${categoryError != null}" th:text="${categoryError}" class="error-text">
                        Category Error.
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Prep Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:value="${recipe.prepTimeHour}" th:field="*{prepTimeHour}" placeholder="hours"/>
                    </p>
                    <p th:if="${prepTimeHourError != null}" th:text="${prepTimeHourError}" class="error-text">
                        Prep Time Hour Error.
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:value="${recipe.prepTimeMinute}" th:field="*{prepTimeMinute}" placeholder="minutes"/>
                    </p>
                    <p th:if="${prepTimeMinuteError != null}" th:text="${prepTimeMinuteError}" class="error-text">
                        Prep Time Minute Error.
                    </p>
                    <p th:if="${prepTimeError != null}" th:text="${prepTimeError}" class="error-text">
                        Prep Time Error.
                    </p>
                </div>

            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Cook Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:value="${recipe.cookTimeHour}" th:field="*{cookTimeHour}" placeholder="hours"/>
                    </p>
                    <p th:if="${cookTimeHourError != null}" th:text="${cookTimeHourError}" class="error-text">
                        Cook Time Hour Error.
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:value="${recipe.cookTimeMinute}" th:field="*{cookTimeMinute}" placeholder="minutes"/>
                    </p>
                    <p th:if="${cookTimeMinuteError != null}" th:text="${cookTimeMinuteError}" class="error-text">
                        Cook Time Minute Error.
                    </p>
                    <p th:if="${cookTimeError != null}" th:text="${cookTimeError}" class="error-text">
                        Cook Time Error.
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Ingredients </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>

                <div class="ingredient-row" th:if="*{ingredients == null}">
                    <div class="prefix-20 grid-50">
                        <p>
                            <input id="ingredients0.description" name="ingredients[0].description" placeholder="description..."/>
                        </p>
                    </div>
                </div>

                <div class="ingredient-row" th:each="ingredient : *{ingredients}" th:if="*{ingredients.size() > 0}">

                    <input type="hidden"
                            th:field="*{ingredients[__${ingredientStat.index}__].id}"/>

                    <div class="prefix-20 grid-50">
                        <p>
                            <input th:field="*{ingredients[__${ingredientStat.index}__].description}" placeholder="description..."/>
                        </p>
                        <p th:if="${ingredient.error != null}"
                           th:text="${ingredient.error}"
                           class="error-text">
                            The description of the ingredient must have at least two characters.
                        </p>
                    </div>
                </div>

                <div class="prefix-20 grid-50 add-row">
                    <p>
                        <button id="add-another-ingredient-button">+ Add Ingredient</button>
                        <button id="remove-ingredient-button">- Remove Ingredient</button>
                    </p>
                </div>

            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Steps </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>

                <div class="step-row" th:if="*{steps == null}">
                    <div class="prefix-20 grid-60">
                        <p>
                            <textarea id="steps0.description" name="steps[0].description" rows="4" cols="50" placeholder="description..."></textarea>
                        </p>
                    </div>
                </div>

                <div class="step-row" th:each="step : *{steps}" th:if="*{steps.size() > 0}">

                    <input type="hidden" th:field="*{steps[__${stepStat.index}__].id}"/>

                    <div class="prefix-20 grid-60">
                        <p>
                            <textarea th:field="*{steps[__${stepStat.index}__].description}" rows="4" cols="50" placeholder="description..."></textarea>
                        </p>
                        <p th:if="${step.error != null}"
                           th:text="${step.error}"
                           class="error-text">
                            The description of the step must have at least two characters.
                        </p>
                    </div>
                </div>


                <div class="prefix-20 grid-40 add-row">
                    <p>
                        <button id="add-another-step-button">+ Add Step</button>
                        <button id="remove-step-button">- Remove Step</button>
                    </p>
                </div>

            </div> <div class="clear"></div>

                <div class="grid-100 row controls" id="detail-page-buttons">
                    <a th:href="@{/}" class="bottom-nav-link" style="color: black;"><i class="fas fa-undo"></i> Cancel</a>
                    <a href="javascript:;" onclick="document.getElementById('saveRecipeForm').submit();" class="bottom-nav-link"><button><i class="far fa-save"></i> Save Recipe</button></a>
                </div>

                <div th:replace="layout :: footer-nav"></div>
            </form>
        </div> <!-- recipes -->

    </div> <!-- grid-100 -->

</div> <!-- grid-container -->
<div th:replace="layout :: flash">

</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>
