<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: nav"></nav>

<div class="grid-container">

    <div th:replace="layout :: logo"></div>

    <div class="grid-100">

        <div class="recipes">
            <form th:action="@{|/${action}|}" method="post" id="saveRecipeForm" th:object="${recipe}">
                <input type="hidden" th:field="*{id}"/>
            <div class="grid-100 row controls">
                <div class="grid-50">
                    <h2> Recipe Editor </h2>
                </div>
                <div class="grid-50">
                    <div class="flush-right">
                        <a href="javascript:;" onclick="document.getElementById('saveRecipeForm').submit();"><button>Save Recipe</button></a>
                        <a th:href="@{/}">Cancel</a>
                    </div>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Photo </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <input th:value="${recipe.photoUrl}" th:field="*{photoUrl}"/>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Name </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <input th:value="${recipe.name}" th:field="*{name}"/>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <textarea th:value="${recipe.description}" th:field="*{description}"> </textarea>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Category </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <select th:field="*{category}">
                            <option th:each="category : ${categories}"
                                th:value="${category}"
                                    th:text="${category.name}"></option>
                        </select>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Prep Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:value="${recipe.prepTime}" th:field="*{prepTime}"/>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Cook Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:value="${recipe.cookTime}" th:field="*{cookTime}"/>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Ingredients </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p class="label-spacing">
                        <label> Item </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p class="label-spacing">
                        <label> Condition </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Quantity </label>
                    </p>
                </div>

                <div class="ingredient-row" th:if="*{ingredients == null}">
                    <div class="prefix-20 grid-30">
                        <p>
                            <input id="ingredients0.item" name="ingredients[0].item" placeholder="item..."/>
                        </p>
                    </div>
                    <div class="grid-30">
                        <p>
                            <input id="ingredients0.condition" name="ingredients[0].condition" placeholder="condition..."/>
                        </p>
                    </div>
                    <div class="grid-10 suffix-10">
                        <p>
                            <input id="ingredients0.quantity" name="ingredients[0].quantity"/>
                        </p>
                    </div>
                </div>

                <div class="ingredient-row" th:each="ingredient : *{ingredients}" th:if="*{ingredients.size() > 0}">

                    <input type="hidden"
                            th:field="*{ingredients[__${ingredientStat.index}__].id}"/>

                    <div class="prefix-20 grid-30">
                        <p>
                            <input th:field="*{ingredients[__${ingredientStat.index}__].item}"/>
                        </p>
                    </div>
                    <div class="grid-30">
                        <p>
                            <input th:field="*{ingredients[__${ingredientStat.index}__].condition}"/>
                        </p>
                    </div>
                    <div class="grid-10 suffix-10">
                        <p>
                            <input th:field="*{ingredients[__${ingredientStat.index}__].quantity}"/>
                        </p>
                    </div>
                </div>

                <div class="prefix-20 grid-80 add-row">
                    <p>
                        <button id="add-another-ingredient-button">+ Add Another Ingredient</button>
                    </p>
                </div>

            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Steps </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>

                <div class="step-row" th:if="*{steps == null}">
                    <div class="prefix-20 grid-80">
                        <p>
                            <input id="steps0.description" name="steps[0].description" placeholder="new step"/>
                        </p>
                    </div>
                </div>

                <div class="step-row" th:each="step : *{steps}" th:if="*{steps.size() > 0}">

                    <input type="hidden" th:field="*{steps[__${stepStat.index}__].id}"/>

                    <div class="prefix-20 grid-80">
                        <p>
                            <input th:field="*{steps[__${stepStat.index}__].description}"/>
                        </p>
                    </div>
                </div>

                <!---->
                <div class="prefix-20 grid-80 add-row">
                    <p>
                        <button id="add-another-step-button">+ Add Another Step</button>
                    </p>
                </div>

            </div> <div class="clear"></div>

            <div class="row">&nbsp;</div>
            </form>
        </div> <!-- recipes -->

    </div> <!-- grid-100 -->

</div> <!-- grid-container -->
<div th:replace="layout :: scripts"></div>
</body>
</html>
