<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: nav"></nav>

<div class="grid-container">

    <div th:replace="layout :: logo"></div>

    <div class="grid-100">

        <div class="recipes">
            <form th:action="@{|/${action}|}" method="post" id="saveRecipeForm" th:object="${recipe}">
                <input type="hidden" th:field="*{id}"/>
            <div class="grid-100 row controls">
                <div class="grid-50">
                    <h2> Recipe Editor </h2>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Photo </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <input th:value="${recipe.photoUrl}" th:field="*{photoUrl}" placeholder="url..."/>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Name </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <input th:value="${recipe.name}" th:field="*{name}" placeholder="name..."/>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <textarea th:value="${recipe.description}" th:field="*{description}" placeholder="description..."> </textarea>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Category </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <select th:field="*{category}">
                            <option value="">All Categories</option>
                            <option th:each="category : ${categories}"
                                th:value="${category}"
                                    th:text="${category.name}"></option>
                        </select>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Prep Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:value="${recipe.prepTimeHour}" th:field="*{prepTimeHour}" placeholder="hours"/>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:value="${recipe.prepTimeMinute}" th:field="*{prepTimeMinute}" placeholder="minutes"/>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Cook Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:value="${recipe.cookTimeHour}" th:field="*{cookTimeHour}" placeholder="hours"/>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <input th:value="${recipe.cookTimeMinute}" th:field="*{cookTimeMinute}" placeholder="minutes"/>
                    </p>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Ingredients </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>

                <div class="ingredient-row" th:if="*{ingredients == null}">
                    <div class="prefix-20 grid-80">
                        <p>
                            <input id="ingredients0.description" name="ingredients[0].description" placeholder="description..."/>
                        </p>
                    </div>
                </div>

                <div class="ingredient-row" th:each="ingredient : *{ingredients}" th:if="*{ingredients.size() > 0}">

                    <input type="hidden"
                            th:field="*{ingredients[__${ingredientStat.index}__].id}"/>

                    <div class="prefix-20 grid-30">
                        <p>
                            <input th:field="*{ingredients[__${ingredientStat.index}__].description}" placeholder="description..."/>
                        </p>
                    </div>
                </div>

                <div class="prefix-20 grid-30 add-row">
                    <p>
                        <button id="add-another-ingredient-button">+ Add Ingredient</button>
                    </p>
                </div>

                <div class="grid-30">
                    <p>
                        <button id="remove-ingredient-button">- Remove Ingredient</button>
                    </p>
                </div>

            </div> <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p class="label-spacing">
                        <label> Steps </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p class="label-spacing">
                        <label> Description </label>
                    </p>
                </div>

                <div class="step-row" th:if="*{steps == null}">
                    <div class="prefix-20 grid-80">
                        <p>
                            <textarea id="steps0.description" name="steps[0].description" rows="4" cols="50" placeholder="description..."></textarea>
                        </p>
                    </div>
                </div>

                <div class="step-row" th:each="step : *{steps}" th:if="*{steps.size() > 0}">

                    <input type="hidden" th:field="*{steps[__${stepStat.index}__].id}"/>

                    <div class="prefix-20 grid-80">
                        <p>
                            <input th:field="*{steps[__${stepStat.index}__].description}" placeholder="description..."/>
                            <!--<textarea th:field="*{steps[__${stepStat.index}__].description}" rows="4" cols="50" placeholder="description..."></textarea>-->
                        </p>
                    </div>
                </div>

                <!---->
                <div class="prefix-20 grid-30 add-row">
                    <p>
                        <button id="add-another-step-button">+ Add Step</button>
                    </p>
                </div>

                <div class="grid-30">
                    <p>
                        <button id="remove-step-button">- Remove Step</button>
                    </p>
                </div>

            </div> <div class="clear"></div>

            <!--<div class="row">&nbsp;</div>-->

                <div class="grid-100 row controls">
                    <div class="grid-50" id="divElement">
                        <div>
                            <a href="javascript:;" onclick="document.getElementById('saveRecipeForm').submit();"><button>Save Recipe</button></a>
                            <a th:href="@{/}">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div> <!-- recipes -->

    </div> <!-- grid-100 -->

</div> <!-- grid-container -->
<div th:replace="layout :: flash">

</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>
