<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>

<nav th:replace="layout :: nav"></nav>

<div class="grid-container">

    <div th:replace="layout :: logo"></div>

    <div class="grid-100">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-30">
                    <form th:action="@{/search-by-category}" method="get" th:object="${recipe}">
                        <select th:field="*{category}">
                            <option value="">All Categories</option>
                            <option value="otherValue">Other Value</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category}"
                                    th:text="${category.name}"></option>
                        </select>
                        <button>Search</button>
                    </form>
                </div>
                <div class="grid-40">
                    <form th:action="@{/search-by-description-containing}" method="get" th:object="${recipe}">
                        <input th:field="*{description}" th:placeholder="${description}" th:if="${description != null and #strings.length(description) > 0}"/>
                        <input th:field="*{description}" placeholder="Search recipes by description..." th:if="${description == null or #strings.length(description) == 0}" />
                        <button>Search</button>
                    </form>
                    <!--<form th:action="@{/search-by-description-containing}" method="get">-->
                        <!--<input placeholder="Search recipes by description..." name="searchQuery"/>-->
                        <!--<button>Search</button>-->
                    <!--</form>-->
                </div>
                <div class="grid-30">
                    <div class="flush-right">
                        <a th:href="@{/recipes/add}"><button>+ Add Recipe</button></a>
                    </div>
                </div>
            </div> <div class="clear"></div>

            <div class="grid-100 row addHover" th:each="recipe : ${recipes}">
                <a th:href="@{|/recipes/${recipe.id}/detail|}">
                    <div class="grid-70">
                        <p>
                            <span><img th:src="@{/images/favorite.svg}" height="12px"/> </span>
                            <span th:text="${recipe.name}"></span>
                        </p>
                    </div>
                </a>
                <div class="hoverBlock">
                    <div class="grid-30">
                        <div class="flush-right">
                            <p>
                                <a th:href="@{|/recipes/${recipe.id}/edit|}"> <img th:src="@{/images/edit.svg}" height="12px"/> Edit </a>
                                <form th:action="@{|/recipes/${recipe.id}/delete|}" method="post" id="recipeDeleteForm">
                                    <button type="submit">Delete</button>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div><div class="clear"></div>

            <div class="row">&nbsp;</div>

        </div>
    </div>
</div>
</body>
</html>
