<!doctype html>
<html lang="en">
<head th:replace="layout :: head"></head>

<body>

<nav>
    <a href="signup.html">
        sign-up
    </a>
    &bull;
    <a href="login.html">
        login
    </a>
</nav>

<div class="grid-container">

    <div th:replace="layout :: logo">
    </div>

    <div class="grid-100">
        <div class="recipes">
            <form th:action="@{/login}" method="post" th:object="${user}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <input placeholder="Username" th:field="*{username}"> </input>
                    </p>
                </div> <div class="clear"></div>
                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <input placeholder="Password" type="password" th:field="*{password}"> </input>
                    </p>
                </div> <div class="clear"></div>
                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <button>Login</button>
                    </p>
                </div> <div class="clear"></div>
            </form>
        </div> <!-- recipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->
<div th:replace="layout :: flash"></div>
</body>
</html>
