<!doctype html>
<html lang="en">
<head th:replace="layout :: head"></head>

<body>

<nav>
    <a th:href="@{/sign-up}">
        sign-up
    </a>
    &bull;
    <a th:href="@{/login}">
        login
    </a>
</nav>

<div class="grid-container">

    <div th:replace="layout :: logo">
        <a th:href="@{/}">
            <h1>
                <img th:src="@{/images/chefbot.svg}" height="60px"/>
                <br/>
                My Recipes
            </h1>
        </a>
    </div>

    <div class="grid-100">
        <div class="recipes">
            <form th:action="@{/sign-up}" method="post" th:object="${user}">
                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <input placeholder="Username" th:field="*{username}"> </input>
                    </p>
                </div> <div class="clear"></div>
                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <input placeholder="Password" type="password" th:field="*{password}"> </input>
                    </p>
                </div> <div class="clear"></div>
                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <input placeholder="Password Again" type="password" th:field="*{matchingPassword}"> </input>
                    </p>
                </div> <div class="clear"></div>
                <div class="prefix-20 grid-60 suffix-20">
                    <p>
                        <button th:action="@{/sign-up}">Sign-up</button>
                    </p>
                </div> <div class="clear"></div>
            </form>
        </div> <!-- recipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->
<div th:replace="layout :: flash"></div>
</body>
</html>
