<!DOCTYPE html>
<html lang="en">
    <head th:fragment="head">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <title>Online Meals</title>

        <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
        <link rel="stylesheet" th:href="@{/css/unsemantic-grid-responsive.css}"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
    <nav th:fragment="nav" class="nav-cls">
        <a th:href="@{|/user/profile|}" sec:authentication="name">
            Chandra S.
        </a>
        &bull;
        <a href="javascript:;" onclick="document.getElementById('logoutForm').submit();">logout</a>
        <form th:action="@{/logout}" method="post" id="logoutForm">
        </form>
    </nav>

        <div class="grid-100 logo-grid" th:fragment="logo">
            <a th:href="@{/}" class="grid-link">
                <img th:src="@{/images/chef.png}" height="120px"/>
            </a>
        </div>

    <div  th:fragment="flash" th:if="${flash != null}" class="container">
        <div th:classappend="${#strings.toLowerCase(flash.status)}"
            th:text="${flash.message}" class="flash"></div>
    </div>

    <div th:fragment="scripts">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script th:src="@{/js/app.js}"></script>
    </div>

    <div class="grid-100 row addHover" th:each="recipe : ${recipes}" th:fragment="recipe-list">
        <a th:href="@{|/recipes/${recipe.id}/detail|}">
            <div class="grid-70">
                <p>
                    <span th:if="${nullAndNonNullUserFavoriteRecipeList[__${recipeStat.index}__] != null}"><img th:src="@{/images/favorited.svg}" height="12px"/></span>
                    <span th:if="${nullAndNonNullUserFavoriteRecipeList[__${recipeStat.index}__] == null}"><img th:src="@{/images/favorite.svg}" height="12px"/></span>
                    <span th:text="${recipe.name}"></span>
                </p>
            </div>
        </a>
        <div class="hoverBlock">
            <div class="grid-30">
                <div class="flush-right">
                    <p>
                        <a th:href="@{|/recipes/${recipe.id}/edit|}"> <img th:src="@{/images/edit.svg}" height="12px"/> Edit </a>
                    <form th:action="@{|/recipes/${recipe.id}/delete|}" method="post" id="recipeDeleteForm">
                        <button type="submit"><i class="far fa-trash-alt"></i> Delete</button>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-100 row controls" th:fragment="footer-nav">
        <div class="grid-50">
            <div style="padding: 15px 0px;">
                Links:
                <a th:href="@{/}" class="bottom-nav-link"><i class="fas fa-home"></i>Home</a>
                <a th:href="@{/user/profile}" class="bottom-nav-link"><i class="fas fa-user"></i>Profile</a>
            </div>
        </div>
    </div>

    </body>
</html>