<!DOCTYPE html>
<html lang="en">
    <head th:fragment="head">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <title>Brioche French Toast with Nutella | My Recipes</title>

        <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" th:href="@{/css/unsemantic-grid-responsive.css}"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
    <nav th:fragment="nav">
        <a href="profile.html">
            Chandra S.
        </a>
        &bull;
        <a href="login.html">
            logout
        </a>
    </nav>

    <div class="grid-container">
        <div class="grid-100" th:fragment="logo">
            <a th:href="@{/}">
                <h1>
                    <img th:src="@{/images/chefbot.svg}" height="60px"/>
                    <br/>
                    My Recipes
                </h1>
            </a>
        </div>
    </div>
    </body>
</html>
