<!DOCTYPE html>
<html lang="en">
    <head th:fragment="head">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        <title>Brioche French Toast with Nutella | Narcis Chef</title>

        <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" th:href="@{/css/unsemantic-grid-responsive.css}"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
    <nav th:fragment="nav">
        <a th:href="@{|/user/profile|}" sec:authentication="name">
            Chandra S.
        </a>
        &bull;
        <a href="javascript:;" onclick="document.getElementById('logoutForm').submit();">logout</a>
        <form th:action="@{/logout}" method="post" id="logoutForm">
        </form>
    </nav>

    <div class="grid-container">
        <div class="grid-100" th:fragment="logo">
            <a th:href="@{/}">
                <h1>
                    <img th:src="@{/images/chef.png}" height="120px"/>
                    <br/>
                </h1>
            </a>
        </div>
    </div>

    <div  th:fragment="flash" th:if="${flash != null}" class="container">
        <div th:classappend="${#strings.toLowerCase(flash.status)}"
            th:text="${flash.message}" class="flash"></div>
    </div>

    <div th:fragment="scripts">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script th:src="@{/js/app.js}"></script>
    </div>

    <div class="grid-100 row addHover" th:each="recipe : ${recipes}" th:fragment="recipe-list">
        <a th:href="@{|/recipes/${recipe.id}/detail|}">
            <div class="grid-70">
                <p>
                    <span th:if="${nullAndNonNullUserFavoriteRecipeList[__${recipeStat.index}__] != null}"><img th:src="@{/images/favorited.svg}" height="12px"/></span>
                    <span th:if="${nullAndNonNullUserFavoriteRecipeList[__${recipeStat.index}__] == null}"><img th:src="@{/images/favorite.svg}" height="12px"/></span>
                    <span th:text="${recipe.name}"></span>
                </p>
            </div>
        </a>
        <div class="hoverBlock">
            <div class="grid-30">
                <div class="flush-right">
                    <p>
                        <a th:href="@{|/recipes/${recipe.id}/edit|}"> <img th:src="@{/images/edit.svg}" height="12px"/> Edit </a>
                    <form th:action="@{|/recipes/${recipe.id}/delete|}" method="post" id="recipeDeleteForm">
                        <button type="submit">Delete</button>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>